[package]
name = "cells"
version = "0.1.0"
edition = "2024"

[dependencies]
macroquad = "0.4"
rayon = "1.10"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = false
